* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(134, 187, 248);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.center {
    margin-top: 2%;
    align-items: center;
    text-align: center;
    padding: 2% 10%;
    background-image: url('https://res.cloudinary.com/djo6hqejl/image/upload/v1649396637/Blue-Fade-Background_schtkj.png');
    display: cover;
}

.center img {
    width: 200px;
    position: relative;
    animation: wiggle 3s linear infinite;

}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

.center >h1 {

    color:rgb(0, 45, 246);
    text-align: center;
    
}

.btn {
    margin-top: 5%;
}

.form{
    margin-top: 5%;
}

.form label{

    font-size: 12x;
    font-weight: bold;
    margin-right: 40%;
}

input {
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    width: 70%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #89b8ff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  